@media screen and (max-width: 991px) {
  /* Navbar */
  .nav-toggle {
    display: block;
    margin-right: 20px;
  }

  .nav-toggle i {
    font-size: 35px;
  }

  .main-nav {
    padding-inline: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    position: absolute;
    background-color: #d2aef4;
    left: 0;
    top: -800%;
    width: 100%;
    padding-block: 20px;
    transition: 0.5s ease-out;
  }

  .nav-item a {
    font-size: 1.8rem;
  }

  .nav-link.active {
    left: 0;
    top: 100%;
  }

  .nav-link ul {
    flex-direction: column;
    align-items: start;
  }

  .services-submenu {
    top: 260px;
  }

  /* small category */
  .smallcategory-text {
    font-size: 1.3rem;
  }

  /* Hero */
  .hero-div {
    position: relative;
    padding-top: 40px;
    height: 100vw;
  }

  .hero-text-div {
    position: absolute;
    z-index: 2;
    color: black;
  }

  .hero-text-h1 {
    width: 80vw;
    font-size: 3rem;
  }

  .hero-text-para {
    padding-top: 2rem;
    width: 75vw;
    font-size: 1.3rem;
  }

  .hero-sec-btn {
    font-size: 1.2rem;
    width: 118%;
    margin-top: 2rem;
  }

  .btn {
    font-size: 1.2rem;
  }
  .hero-shape {
    position: absolute;
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    top: 30%;
    left: 45%;
  }

  /* Tattoo Gallery */
  .slider-text-heading {
    font-size: 3.3rem;
  }

  /* Features */
  .feature-img1 {
    top: 150px;
    right: -15px;
  }

  .feature-img2 {
    display: none;
  }

  /* Team card */
  .teamcard-img {
    width: 100%;
    height: 390px;
  }

  /* Category Card */
  .tattooCategory-heading {
    font-size: 2.8rem;
  }

  /* Service card */
  .services-card-div {
    gap: 30px;
    min-width: 100%;
    justify-content: space-between;
  }

  .services-div {
    padding-bottom: 60px;
  }

  .service-card {
    width: 40%;
  }

  .services-heading {
    font-size: 2.5rem;
  }

  /* Background video */
  .video-container {
    height: 42vh;
  }

  .overlay-text {
    font-size: 1.7rem;
  }

  .cta-button {
    width: 100%;
    font-size: 1rem;
    padding: 12px 12px;
  }

  /* Our Artists */
  .artist-div {
    margin-top: 12vh;
    padding-top: 4vh;
    padding-bottom: 8vh;
    width: 100%;
  }

  .artist-wrapper .heading {
    font-size: 3rem;
  }

  .artist-wrapper p {
    font-size: 1.3rem;
    width: 100%;
  }

  /* About us */
  .about-main-div {
    margin-top: 12vh;
    padding-top: 20px;
    background-color: #d2aef4;
    width: 100%;
    height: 60vh;
  }

  .about-heading {
    font-size: 3rem;
  }

  .about-image {
    height: 40vh;
  }

  .about-body-div {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .about-text-heading {
    font-size: 3rem;
  }

  .about-text-wrapper {
    width: 100%;
  }
  .about-text {
    font-size: 1.3rem;
  }

  .about-image-div {
    width: 100%;
  }

  .about-image-div img {
    width: 100%;
    height: 40vh;
    border-radius: 1rem;
  }

  /* Contact Us */
  .contact-section {
    padding-top: 160px;
  }

  .contact-heading {
    font-size: 2.5rem;
  }

  .map-section {
    margin-top: 4rem;
  }

  .map-section iframe {
    width: 100%;
    height: 40vh;
    border: none;
  }

  /* footer */
  .footer-heading {
    font-size: 1.5rem;
  }

  .hover-link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  /* Header */
  .body-container {
    height: 500px;
  }

  .heading-section {
    height: 370px;
  }

  .body-heading1,
  .body-heading2 {
    font-size: 3.5rem;
  }

  .body-para-text {
    margin-top: -0.1rem;
  }

  .first-para,
  .second-para,
  .third-para {
    font-size: 1.1rem;
  }

  .btn-div {
    margin-top: 2.5rem;
  }

  .btn {
    width: 100%;
  }

  /* Team card */
  .teamcard-main-div {
    margin-top: 40px;
  }

  /* slider */
  .slider-text-div {
    margin-top: 3rem;
  }

  .slider-main-div {
    padding-bottom: 5rem;
  }
  /* Feature */
  .feature-card {
    flex-direction: column;
    text-align: center;
  }

  .feature-text-heading {
    font-size: 2rem;
  }

  .feature-text-para {
    font-size: 0.9rem;
    max-width: 100%;
  }

  .feature-img1,
  .feature-img2 {
    height: 10rem;
    width: auto;
  }

  .feature-img2 {
    top: -30px;
  }

  /* Team Card */
  .teamcard-header {
    font-size: 1.2rem;
  }

  .services-main-div {
    margin-top: 72px;
  }

  /* Footer */
  .footer-contaainer {
    gap: 40px;
    text-align: start;
    align-items: start;
    /* background-color: brown; */
  }

  .link-column-logo {
    gap: 5px;
    align-items: stretch;
  }

  .link-column {
    gap: 5px;
    align-items: stretch;
  }

  .subfooter-div {
    padding-inline: 20px;
  }
}

/* Mobile Device */
@media screen and (max-width: 479px) {
  /* small category */
  .smallcategory-main-div {
    margin-top: 12vh;
    padding-top: 30px;
    width: 100%;
    height: 30vh;
    background-color: #d2aef4;
  }

  .smallcategory-heading {
    padding-top: 1.2rem;
    font-size: 1.8rem;
  }

  .smallcategory-text {
    font-size: 1rem;
  }

  .smallCate-image-heading {
    font-size: 1.8rem;
  }

  /* Hero */
  .hero-div {
    position: relative;
    padding-top: 70px;
    height: 140vw;
  }

  .hero-text-div {
    position: absolute;
    z-index: 2;
    color: black;
  }

  .spalshing-video {
    width: 60px;
    height: auto;
    vertical-align: middle; /* keeps it aligned with text */
    border-radius: 4px;
    margin: 0 7px;
  }

  .hero-text-h1 {
    width: 90vw;
    font-size: 1.99rem;
  }

  .hero-text-para {
    padding-top: 2rem;
    width: 90vw;
    font-size: 1rem;
  }

  .hero-sec-btn {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
  }

  .hero-shape {
    position: absolute;
    height: 70vw;
    width: 70vw;
    border-radius: 50%;
    top: 24%;
    left: 50%;
  }

  /* Navbar */
  .nav-toggle i {
    font-size: 25px;
  }

  .nav-item a {
    font-size: 1.2rem;
  }

  li .btn {
    font-size: 1rem;
  }

  /* Header */
  .body-heading1,
  .body-heading2 {
    font-size: 2rem;
  }

  .body-heading2 {
    margin-top: 2px;
  }
  .first-para,
  .second-para,
  .third-para {
    font-size: 1rem;
  }

  .section-para1,
  .section-para2 {
    font-size: 1rem;
  }

  /* slider */
  .slider-text-heading {
    font-size: 1.9rem;
  }

  .slider-text-para {
    font-size: 1.4rem;
  }

  .slider-heart-png {
    height: 3rem;
    width: 3rem;
  }

  /* Features */
  .feature-div {
    margin: 20px;
    padding: 1rem;
    border-radius: 20px;
    height: 680px;
  }

  .feature-heading {
    font-size: 0.9rem;
  }

  .heart-png {
    height: 1rem;
    width: 1rem;
  }

  .feature-text-para {
    font-size: 1rem;
  }

  .feature-text-heading {
    font-size: 1.7rem;
  }

  .feature-text-para {
    font-size: 0.85rem;
    padding: 0 10px;
  }

  .feature-img-div {
    position: relative;
  }

  .artImage-div {
    position: absolute;
  }

  .feature-img1,
  .feature-img2 {
    width: 19rem;
    height: 11rem;
  }

  .feature-img1 {
    top: -20px;
    left: 9px;
  }

  .feature-img2 {
    display: none;
  }

  /* Team card */
  .teamcard-para {
    font-size: 1.5rem;
  }
  .teamcard-header {
    font-size: 1.8rem;
  }

  .teamcard-img {
    width: 100%;
    height: 390px;
  }

  .teamcard-btn {
    width: 50%;
  }

  /* Service card */
  .services-card-div {
    gap: 20px;
    min-width: 100%;
  }

  .services-div {
    padding-bottom: 60px;
  }
  .service-card {
    width: 100%;
  }

  .services-heading {
    font-size: 32px;
  }

  .service-card-btn {
    width: 83%;
    height: 11%;
    bottom: 50px;
  }

  /* Category Card */
  .tattooCategory-div {
    margin-top: -20px;
  }

  .tattoocategry-card {
    margin-top: 10px;
  }

  .tattooCategory-heading {
    font-size: 1.8rem;
  }

  /* Background video */
  .video-container {
    height: 50vh;
  }

  .overlay-text {
    width: 80%;
    font-size: 0.8rem;
  }

  .overlay-text p {
    font-size: 0.9rem;
  }

  .cta-button {
    width: 100%;
    height: 36px;
    font-size: 1rem;
    padding: 6px 12px;
  }

  /* Our Artists */
  .artist-div {
    margin-top: 12vh;
    padding-top: 4vh;
    padding-bottom: 8vh;
    width: 100%;
  }

  .artist-wrapper .heading {
    font-size: 2rem;
  }

  .artist-wrapper p {
    font-size: 1rem;
    width: 100%;
  }

  .artist-card-body {
    margin: 4rem 0;
    gap: 2rem;
  }

  /* About us */
  .about-main-div {
    margin-top: 12vh;
    padding-top: 20px;
    background-color: #d2aef4;
    width: 100%;
    height: 60vh;
  }

  .about-heading {
    font-size: 2rem;
  }

  .about-image {
    height: 40vh;
  }

  .about-body-div {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .about-text-heading {
    font-size: 2rem;
  }

  .about-text-wrapper {
    width: 100%;
  }
  .about-text {
    font-size: 1rem;
  }

  .about-image-div {
    width: 100%;
  }

  .about-image-div img {
    width: 100%;
    height: 50vh;
    border-radius: 1rem;
  }

  /* Contact Us */
  .contact-section {
    padding-top: 100px;
  }

  .contact-heading {
    font-size: 2rem;
  }

  .map-section {
    margin-top: 4rem;
  }

  .map-section iframe {
    width: 100%;
    height: 50vh;
    border: none;
  }

  /* Footer */
  .footer-heading {
    font-size: 1.3rem;
  }

  .hover-link {
    font-size: 1rem;
  }
  .subfooter-text {
    font-size: 0.9rem;
  }

  /* Studio slider */
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  /* Testimonial */
  .testimonial-section {
    padding: 40px 20px;
  }

  .testimonial-section .title {
    font-size: 1.7rem;
  }
  .testimonial-card {
    width: 100%;
    height: 350px;
    padding: 20px 1px;
  }

  .testimonial-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 35px;
  }

  .client-photo {
    width: 65px;
    height: 65px;
  }

  .client-name {
    margin: 4px 0 5px;
    font-size: 1.3em;
  }

  .client-detail-text {
    font-size: 0.9em;
  }

  .stars {
    margin: 10px 35px;
    justify-content: start;
    gap: 1.5rem;
  }

  .stars .stars-rating {
    font-size: 1.2rem;
  }
  .rating-text {
    font-size: 0.9rem;
  }

  .testimonial-text {
    font-size: 0.95em;
    text-align: center;
    line-height: 1.5;
    margin: 10px 35px;
  }

  .carousel-buttons {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin-top: 20px;
  }

  .carousel-buttons button {
    padding: 8px 14px;
    font-size: 1.2em;
  }

  /* Goto Top button */
  .top-btn {
    width: 55px;
    height: 55px;
    bottom: 6rem;
    right: 1.2rem;
  }

  /* Whatsapp logo */
  .whatsapp-icon {
    width: 80px;
    height: 80px;
  }
}
