:root {
  --padding-inline-section: 20px;
  --trans: all 0.3s linear;
}

.container {
  max-width: 1080px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.container2 {
  max-width: 800px;
  margin-inline: auto;
}

/* Preloader */
.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3d7ee;
  z-index: 9999;
}

.preloader-title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 1000px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.glitch {
  font-size: 50px;
  font-weight: bold;
  color: black;
  position: relative;
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px purple;
  }
  50% {
    text-shadow: -2px -2px rgb(192, 116, 192);
  }
  100% {
    text-shadow: 2px 2px rgb(230, 182, 230);
  }
}

/* Hero */
.hero-div {
  position: relative;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: start;
}

.hero-text-div {
  position: absolute;
  z-index: 2;
  color: black;
}

.hero-text-h1 {
  width: 50vw;
  font-size: 4.1vw;
  color: black;
  font-weight: bolder;
  z-index: 2;
}

.btn {
  color: white;
  font-weight: bold;
  background-color: black;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 0.09rem solid black;
}

.btn-div {
  margin-top: 2rem;
}

.hero-text-para {
  width: 35vw;
  font-size: 1.2rem;
}

.hero-sec-btn {
  margin-top: 2.5rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
}

.hero-sec-btn:hover {
  background-color: white;
  color: black;
  border: 0.09rem solid black;
}

.hero-shape {
  position: absolute;
  height: 32vw;
  width: 32vw;
  border-radius: 50%;
  /* background: linear-gradient(to top right, #8a49c7, #8c4bc8); */
  background: linear-gradient(to top right, #c48afa, #ad6ee8);
  top: 25%;
  left: 40%;
  filter: blur(90px);
  animation: gooey 6s infinite alternate ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

@keyframes gooey {
  from {
    filter: blur(25px);
    transform: translate(10%, -10%) skew(0);
  }

  to {
    filter: blur(35px);
    transform: translate(-10%, 10%) skew(-8deg);
  }
}

/*old Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  /* box-shadow: 0 4px 8px rgba(34, 33, 33, 0.1); Add a box shadow to create the shadow effect */
  /* padding: 10px; */
  /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05); */
}

.nav-link {
  flex-basis: 730px;
}

.nav-toggle {
  display: none;
}

.hover-link {
  text-decoration: none;
  color: black;
  /* font-weight: 800; */
}

#nav-btn {
  text-decoration: none;
}

.hover-link:hover {
  color: purple;
}

/* Navbar new */
.navbar {
  height: 12vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.navbar-logo img {
  width: 5rem;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 15px 16px;
  /* border-radius: 5px; */
}

/* .nav-item a:hover {
  border-bottom: 3px solid #c48afa;
} */

.nav-link-item {
  text-decoration: none;
  color: #333;
  padding-bottom: 4px;
  transition: border-bottom 0.3s ease;
}

.nav-link-item.active-link {
  border-bottom: 2px solid purple;
  font-weight: 600;
  color: purple;
}

/* Dropdown */
.services-submenu {
  width: 8rem;
  position: absolute;
  top: 70px;
  list-style: none;
  text-align: start;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.services-submenu li {
  cursor: pointer;
  margin-left: -40px;
}

.services-submenu li a:hover {
  width: 82%;
  background: #c48afa;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

/* Small Tattoo Category */
.category-com-div {
  margin-bottom: 5rem;
}
.smallcategory-main-div {
  margin-top: 12vh;
  width: 100%;
  height: 30vh;
  background-color: #d2aef4;
}

.smallcategory-text-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.smallcategory-heading {
  font-size: 3rem;
}

.smallCate-image-heading {
  text-align: center;
}

/* slider tattoo gallery */
.slider-main-div {
  background-color: #d2aef4;
  padding-top: 2.5rem;
  padding-bottom: 12rem;
}

.image_wrapper {
  margin: 15px;
}

.image_wrapper img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.image_wrappe img:hover {
  cursor: pointer;
}

.slider-text-heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bolder;
}

.slider-text-div {
  margin-top: 10rem;
}

.slider-text-para {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 25px;
  line-height: 1.6;
  margin: 0 auto;
  white-space: pre-line;
}

.slider-heart-png {
  height: 5rem;
  width: 5rem;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.slider-heart-png:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Features */
.feature-div {
  background-color: #efeff3;
  padding: 3rem;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.feature-text-heading {
  font-size: 3rem;
  font-weight: bold;
}

.feature-text-para {
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  max-width: 25rem;
}

.heart-png {
  height: 2rem;
  width: 2rem;
}

.feature1-div,
.feature2-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feature-img1 {
  position: absolute;
  height: 12rem;
  top: 211px;
  right: 50px;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.feature-img2 {
  position: absolute;
  height: 12rem;
  top: 60px;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.feature-card {
  position: relative;
  display: flex;
  gap: 2rem;
}

/* Team card */
.teamcard-main-div {
  margin-top: 100px;
}

.teamcard-para {
  text-align: center;
  color: purple;
  font-weight: bold;
  font-size: 2rem;
}
.teamcard-header {
  text-align: center;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}

.teamcard-img {
  background-color: #d2aef4;
  width: 300px;
  height: 400px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.teamcard-img:hover {
  transform: scale(1.1);
}

.teamcard-name {
  width: 200px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 8px;
  min-width: 250px;
  margin-inline: auto;
}

/* TattooCategory */
.TattooCategory-main-div {
  margin-top: 80px;
  position: relative;
}

.tattoocategry-card {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  overflow: visible;
}

.tattooCategory-heading {
  text-align: center;
}

.tattooCategory-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 200px;
}

.tattoocategory-img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); */
  box-shadow: 1px 3px 36px -9px rgba(0, 0, 0, 0.46);
}

.tattoocategory-btn {
  width: 60%;
  padding: 15px;
  color: black;
  background-color: white;
  border: 0.09rem solid black;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  border-radius: 8px;
  position: relative;
  font-size: medium;
  font-weight: 600;
  z-index: 1;
  transition: var(--trans);
  overflow: hidden;
}

.tattoocategory-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  transform: translate(-100%);
  transition: var(--trans);
}

.tattoocategory-btn:hover:before {
  transform: translate(0);
  z-index: -1;
}

.tattoocategory-btn:hover {
  color: white;
}

/*Services */
.services-main-div {
  background-color: #d2aef4;
  margin-top: 130px;
}

.services-div {
  padding-top: 30px;
  padding-bottom: 150px;
}

.services-card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-heading {
  text-align: center;
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
}

.service-card {
  padding: 30px;
  width: 18%;
  height: 250px;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px) scale(1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.service-card-img {
  height: 40px;
}

.service-card-heading {
  font-size: 1.4rem;
  font-weight: bold;
}

.service-card-info {
  font-size: 0.9rem;
  line-height: 1.4;
  color: rgb(98, 95, 95);
}

/* Background-video */
.video-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.cta-button {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.cta-button:hover {
  background-color: #333;
  transform: scale(1.1);
}

/* Appointment form */
.form-group {
  position: relative;
  margin-bottom: 1.2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 12px 12px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  background: transparent;
}

.form-group label {
  position: absolute;
  top: 13px;
  left: 46px;
  color: #aaa;
  background: white;
  transition: 0.2s ease all;
  pointer-events: none;
  padding: 0 4px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -5px;
  left: 45px;
  font-size: 13px;
  color: #333;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.form-error {
  background-color: #fff;
  color: red;
  font-size: 0.8rem;
  text-align: start;
  padding: 0 40px;
}

.form-container {
  /* background-color: #c48afa; */
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.form-heading {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.form-field input,
.form-container textarea {
  max-width: 300px;
  min-width: 300px;
  padding: 12px;
  /* margin: 10px 0; */
  border: 1.59px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.form-container textarea {
  min-height: 30px;
  max-height: 80px;
}

.form-container input:focus,
.form-container textarea:focus {
  border-color: black;
}

/* Submit Button */
.form-container button {
  width: 325px;
  background: black;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 40px;
  transition: background 0.3s, transform 0.2s;
}

.form-container button:hover {
  background: #6a1b9a;
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .form-container {
    width: 95%;
  }

  .form-group label {
    top: 13px;
    left: 30px;
  }

  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label,
  .form-group textarea:focus + label,
  .form-group textarea:not(:placeholder-shown) + label {
    top: -5px;
    left: 25px;
    font-size: 12px;
  }

  .form-error {
    padding: 0 8px;
  }
}

/* About us */
.about-main-div {
  margin-top: 12vh;
  background-color: #d2aef4;
  width: 100%;
  height: 120vh;
}

.about-heading {
  text-align: center;
  font-size: 3rem;
}

.about-image {
  width: 100%;
  height: 80vh;
  border-radius: 1rem;
}

.about-body-div {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.about-text-heading {
  font-size: 3rem;
}

.about-text-wrapper {
  width: 50%;
}

.about-text {
  width: 100%;
  font-size: 1.1rem;
}

.about-text p span {
  font-weight: bold;
}

.about-image-div {
  width: 40%;
}

.about-image-div img {
  width: 100%;
  height: 80%;
  border-radius: 1rem;
}

/* Our Artist */
.artist-div {
  margin-top: 12vh;
  padding-top: 10vh;
  padding-bottom: 15vh;
  background-color: #d2aef4;
  width: 100%;
}

.artist-wrapper .heading {
  font-size: 4rem;
}

.artist-wrapper p {
  font-size: 1.2rem;
  width: 80%;
}

.highlight {
  font-weight: bold;
}

.artist-card-body {
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.card-wrapper .card-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card-wrapper {
  will-change: transform, opacity;
  transform: translateZ(0);
}

.card-wrapper .card-name {
  text-align: center;
}

/* Contact us */
.contact-section {
  padding-top: 80px;
}

.contact-heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-subtext {
  text-align: center;
  margin-bottom: 50px;
  color: #777;
}

.contact-content {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  flex: 1;
  min-width: 250px;
}

.contact-form {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 13px;
  border: 1px solid gray;
  max-width: 94%;
  border-radius: 0.5rem;
}

.contact-form button {
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.contact-form-error {
  background-color: #fff;
  color: red;
  font-size: 0.8rem;
  text-align: start;
}

.contact-form button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
}

.map-section {
  margin-top: 8rem;
}

.map-section iframe {
  width: 100%;
  height: 90vh;
  border: none;
}

/* Footer */
.flex {
  display: flex;
  align-items: center;
}
.footer-heading {
  font-size: 1.3rem;
}

.company-logo .svg {
  width: 200px;
  height: 110px;
}

.footer-address {
  width: 350px;
}

.link-column-logo {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.link-column {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.footer-contaainer {
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  padding-block: 40px;
  background-color: rgba(0, 0, 0, 0.936);
}

.link-column a,
.footer-icon-heading,
.footer-heading,
.footer-address,
.company-name {
  color: white;
}

.hover-link {
  text-decoration: none;
  color: black;
}

.footer-icon-div {
  margin-top: -30px;
  /* background-color: aquamarine; */
}

.subfooter-div {
  margin-top: 30px;
}
.subfooter-text {
  text-align: center;
  color: white;
}

/* Scroll to Top button */
.top-btn {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  color: #fff;
  background-color: #c48afa;
  border-radius: 50%;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#arrow {
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
